header{
    background-color: rgb(28, 160, 200);
    color: #000000;
    text-align: center; /* centraliza */
    padding: 30px; /* espaço interno */
    margin: 0 auto;

}

main{
    background-color: #76a552;
    color: rgb(0, 0, 0);
    
}