header{
    background-color: rgb(227, 233, 233);
    color: #f2efef;
    text-align: center; /* centraliza */
    padding: 30px; /* espaço interno */
    margin: 0 auto;

}

main{
    background-color: #76a552;
    color: rgb(0, 0, 0);
    
}